{% extends 'base.html.twig' %}

{% block title %}Bienvenu !{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/style1.css">
{% endblock %}
{% block body %}
		<main>
			<h1>Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum 
                memoria.</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Traditur, inquit, ab Epicuro ratio neglegendi doloris.
            Ut in geometria, prima si dederis, danda sunt omnia. Si verbum sequimur, primum longius verbum praepositum quam bonum.
            Zenonis est, inquam, hoc Stoici. Duo Reges: constructio interrete. Se ego in hoc resisto ; Certe non potest. Sed virtutem ipsam inchoavit, nihil amplius.
            </p>
			<p>Sed ad illum redeo. Aliter homines, aliter philosophos loqui putas oportere?
            Odium autem et invidiam facile vitabis.Tecum optime, deinde etiam cum mediocri amico. Cur id non ita fit?</p>

			<h1>Consequatur summas voluptates non modo parvo, sed per me nihilo, 
            si potest</h1>
			<p>Quae contraria sunt his, malane? At eum nihili facit; Sed ille, ut dixi, vitiose. Ostendit pedes et pectus. Primum quid tu dicis breve? 
            Quis est tam dissimile homini. Ita multa dicunt, quae vix intellegam. Quid censes in Latino fore?</p>

			<h1>Pauca mutat vel plura sane</h1>
            <p>Ea possunt paria non esse. Aperiendum est igitur, quid sit voluptas
            </p>
            <p>Apparet statim, quae sint officia, quae actiones. Recte, inquit, intellegis.Paria sunt igitur Qui est in parvis malis ALIO MODO.</p>
            <p>
            <ul>
                <li class="item">- Quod idem cum vestri faciant, non satis magnam tribuunt inventoribus gratiam.</li>
                <li class="item">- Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi, quid fugere debeant ?</li>
                <li class="item">- Idem adhuc</li>
                <li class="item">- Verba tu fingas et ea dicas, quae non sentias?</li>
                <li class="item">- Iam id ipsum absurdum, maximum malum neglegi.
                </li>
            </ul></p>
		</main>
		
{% endblock %}
