{% extends 'base.html.twig' %} {% block title %}liste des projets{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/css/styletab.css">
{% endblock %}

{% block body %}
<main>
<h1>liste des Salariés</h1>
    <div class="search-bar">
        <label for="searchbar">Recherche :</label>
        <input type="search" name="searchbar" id="searchbar">
        <button id="btnsearch">Rechercher</button>
		<button id="btnall">Reset</button>
    </div>
	<div class="contenu">
		<table class="list">
			<thead>
				<th>Matricule</th>
                <th>Nom</th>
				<th>Prenom</th>
				<th>Status</th>
			</thead>
			<tbody id="content">
				{% include "abi_projet/liste-collaborateur/content.html.twig" %}
			</tbody>
		</table>
	</div>
</main>

{% block javascripts %}
{% endblock %}
{% endblock %}